@import url("css/normalize.css");

*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
	font-size: 10px;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	font-weight: 100;
	line-height: 1.2;
	color: #fff;
	margin: 0;
}


.program__head{
  
  /*position: relative;*/
  height: 30rem;
  padding: 1rem 2rem;
  background-color: #00544e;
  clip-path: polygon(
    0 0,
    100% 0,
    100% 21rem,
    0 calc(36rem - 5vw)
  );
  
}
.program__head-main{
	font-size: 5rem;
	font-weight: 700;
	text-transform: uppercase;
}
.program__head-strong{
	font-size: 6rem;
}
.program__list{
	text-align: center;
	font-size: 1.8rem;
	
}
.program__list-item{
	margin-top: 5rem;
}
.program__list-item:first-child{
	margin-top: 2rem;
}
.program__list-item:last-child{
	margin-bottom: 6rem;
}

.program__list-link{
	color: #000;
	font-weight: 300;

}
.program__list-link:hover{
	text-decoration: none;
	color: #000;
}
.program__contact{
	background: #1f0000;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 700;
	padding: 2rem 0;

}
.program__contact-link{
	color: #fff;
}
.program__contact-link:hover{
	color: #fff;
	text-decoration: none;
}
.main{
	height: 100%;
	/*position: relative;*/
	/*background: url(../img/kuala-lumpur.jpg) 0 center no-repeat;
	*/
	/*background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.6) 100%), url(../kualalumpur.jpg) 0 center no-repeat;*/
	background-size: cover;
	/*z-index: 1;*/
	
}
.main__head,
.main__data{
	text-align: right;
	padding: 2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 3.8rem;
	/*z-index: 3;*/
}
.row{
	margin-right: 0;
	margin-left: 0;
}
.col-md-9,
.col-md-3{
	padding-right: 0;
    padding-left: 0;
}
.main__data,
.main__button,
.main__notax,
.main__more{
	text-align: center;
}
.main__data{
	margin-top: 16rem;
}
.main__button-link{
	background-color: #008bff;
	border:none;
	padding: 1rem 2rem;
	font-size: 2rem;
	text-transform: uppercase;
	border-radius: 22px;
}
.main__notax,
.main__more{
	margin-top: 1.3rem;
}
.main__more{
	margin-bottom: 2rem;
	
}
.main__more-lern{
	display: inline-block;
	border-bottom: 1px dotted #fff;
}
.main__more-link{
	color: #fff;
}
.main__more-link:hover{
	text-decoration: none;
	color:#fff;
}

/*.main__overlow{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.6) 100%);
	z-index: 2;
}*/
.speakers{
	border-left: 1px solid #6aaca8;
}
.speakers__head{
	color: #000;
	font-size: 2rem;
	font-weight: 700;
	padding: 1rem 0 0 1rem;
}
.speakers__person-item{
	width: 14%;
}
.speakers__person{
	display: flex;
	flex-direction: row;
}
.speakers__person-item{
	text-align: center;
	padding: 1rem;
}
.speakers__person-picture{
	width: 100%;
}
.speakers__person-name{
	color: #000;
	font-size: 1.861rem;
	text-align: left;
	
}
.speakers__person-profession{
	color:#00544e;
	font-size: 1.4rem;
	font-weight: 400;
	text-align: left;
}
.speakers__person-becom{
	margin-left: 3rem;
}
.speakers__person-becom-main{
	color: #000;
	text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 3rem;
}
.speakers__person-becom-btn{
	background-color: #008bff;
	border:none;
	padding: 0.5rem 2rem;
	font-size: 1.5rem;
	border-radius: 22px;
	margin-top: 4rem;
}
